doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Congratulations
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet')
table(border='0' cellpadding='0' cellspacing='0' width='100%' style='background: #F0F5F9;')
  tr
    td(style='font-size:0;') &nbsp;
    td(width='800px' align='center' style='background: #fff;')
      table(border='0' cellpadding='0' cellspacing='0' width='100%')
        tr
          td(style='padding: 30px 20px 0;')
            img(src='https://supersourcing-premium.s3.ap-south-1.amazonaws.com/production/prod_images/SS-Premium-black-logo (1).png' width='200')
            h4(style="font-size: 20px;font-family:'Mulish';color: #000000;font-weight: 700;margin: 51px 0 0; text-align: center;") Welcome to  the Supersourcing Premium
            p(style="margin: 25px 0 0;font-family:'Mulish';color: #000000;font-weight: 500;font-size: 18px;line-height: 22px; text-align: center;") Congratulations #{name}! #{credentials_given_by} added you to Supersourcing Premium.
            p(style="margin: 20px 0 0;font-family:'Mulish';color: #000000;font-weight: 500;font-size: 18px;line-height: 22px; text-align: center;") You can login into the platform by clicking on the link below-
            p(style="margin: 5px 0 0;font-family:'Mulish';color: #000000;font-weight: 500;font-size: 18px;line-height: 22px; text-align: center;")
              a(href='https://premium.supersourcing.com/auth/login' target='_blank' style="font-family:'Mulish';color: #0062FF;text-decoration: none;") https://premium.supersourcing.com/auth/login
            p(style="margin: 20px 0 0;font-family:'Mulish';color: #000000;font-weight: 500;font-size: 18px;line-height: 22px; text-align: center;")  Kindly find your Credentials-
            p(style="margin: 20px 0 0;font-family:'Mulish';color: #000000;font-weight: 500;font-size: 18px;line-height: 22px; text-align: center;")
              | Username - 
              a(style="font-family:'Mulish';color: #0062FF") #{email}
            p(style="margin: 5px 0 0;font-family:'Mulish';color: #000000;font-weight: 500;font-size: 18px;line-height: 22px; text-align: center;")
              | Password -
              a(style="font-family:'Mulish';color: #0062FF")  #{password}
            p(style="margin: 25px 0 0;font-family:'Mulish';color: #000000;font-weight: 500;font-size: 18px;line-height: 22px; text-align: center;") In case of any other doubts, feel free to contact  admin.
        tr
          td(style='padding: 55px 0 53px 30px;')
            h5(style='color: #000;font-weight: 700;font-size: 18px;margin: 20px 0 0 0;') Thanks &amp; Regards,
            h5(style='color: #000;font-weight: 700;font-size: 18px;margin: 10px 0 0 0;') Team Supersourcing Premium
        tr
          td(style='background: #000000;')
            div(style='text-align: center;')
              h4(style='margin: 53px 0 20px 0;font-weight: 400;color: #ABABAB;font-size: 16px;') Copyright &copy; 2021-22 Supersourcing. All Rights Reserved.
    td(style='font-size:0;') &nbsp;
